<!doctype html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Új rendelés</title>
</head>
<body>
<form>
    <label for="name">Megnevezés:</label>
    <input type="text" id="name" name="name"><br>
    <label for="discription">Leírás:</label>
    <input type="text" id="discription" name="leiras"><br>
    <label for="allergen">Allergének:</label>
    <input type="text" id="allergen" name="allergen"><br>
    <button type="submit">Feltöltés</button>
</form>
<button type="submit">Feltöltés</button>
</body>
</html>