<!DOCTYPE html>
<html lang="hu">
<head>
    <meta charset="UTF-8">
    <title>Kezdőlap</title>
</head>
<body>
<nav>valami</nav>
<h1>Üdvözöllek a kezdőlapoon!</h1>

<table>
    <tbody>
    <tr>
        <th>Étel neve</th>
        <th>Ár</th>
    </tr>
    <tr>
        {% for etel in etelek %}
            <tr>
                <td>{{ etel.nev }}</td>
                <td>{{ etel.leiras }}</td>
                <td>{{ etel.allergen }}</td>


            </tr>
            {% endfor %}
    </tr>
    </tbody>
</table>

</body>
</html>